<a href="https://colab.research.google.com/github/vmduarte/ANN_2021/blob/main/Trabalho_1_volume_arvores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# bibliotecas usadas
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
# para gerar o grafico no browser
%matplotlib inline

In [3]:
!git clone https://github.com/vmduarte/mestrado/
%cd mestrado

Cloning into 'mestrado'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
/content/mestrado

In [4]:
# leitura dos dados
df=pd.read_csv("Planilha_completa_mestrado.csv")

In [5]:
df.head(3)

     DATA  Precipitacao  P_atm  Temp_ar  ...  Veiculos    PTS   MP10  O3
0  1/2003           NaN    NaN      NaN  ...     71723    NaN    NaN NaN
1  2/2003           NaN    NaN      NaN  ...     74999    NaN    NaN NaN
2  3/2003         282.0  917.2     22.6  ...     78263  68.76  33.26 NaN

[3 rows x 10 columns]

In [6]:
df.tail(3)

        DATA  Precipitacao  P_atm  Temp_ar  ...  Veiculos  PTS  MP10  O3
225  10/2021           NaN    NaN      NaN  ...    493085  NaN   NaN NaN
226  11/2021           NaN    NaN      NaN  ...    493541  NaN   NaN NaN
227  12/2021           NaN    NaN      NaN  ...    493986  NaN   NaN NaN

[3 rows x 10 columns]

In [7]:
# separa as colunas de interesse (filtrar)
Index=[7]
Dat_Select=[]
Dat_Select=df.iloc[:,Index].copy()

In [8]:
Dat_Select.head(3)

     PTS
0    NaN
1    NaN
2  68.76

In [9]:
# funcao normatiza dados
def Normatiza(x):
    strings=list(x)
    for i in strings:
        max_x=x[i].max()
        min_x=x[i].min()
        a=(max_x+min_x)/2
        b=(max_x-min_x)/2
        x[i]=(x[i]-a)/b
        #x[i]=0.8*(x[i]-min_x)/(max_x-min_x)+0.1
    return x

In [10]:
# funcao retorna os dados a forma original
def Original(x,x_old):
    strings=list(x)
    for i in strings:
        max_x=x_old[i].max()
        min_x=x_old[i].min()
        a=(max_x+min_x)/2
        b=(max_x-min_x)/2
        x[i]=x[i]*b+a
    return x

In [11]:
# separa os dados em normatizados e originais
DAT_OLD=[]
DAT_OLD=Dat_Select.copy()
DAT=Normatiza(Dat_Select)

In [12]:
DAT.tail(3)

     PTS
225  NaN
226  NaN
227  NaN

In [13]:
# separa os dados em treino e teste
train=DAT.sample(frac=0.8,random_state=None)
test=DAT.drop(train.index)

In [14]:
train.head(3)

          PTS
56  -0.171475
0         NaN
159 -0.724611

In [15]:
test.head(3)

        PTS
3 -0.551930
4 -0.548180
6 -0.598275

In [16]:
# obtem as variaveis independentes (treino e teste)
x_train=train.iloc[:,[0]]
x_test=test.iloc[:,[0]]
X_OLD=DAT_OLD.iloc[:,[0]]

In [17]:
# obtem a dependente volume (treino e teste)
Index=[0]
y_train=train.iloc[:,Index]
y_test=test.iloc[:,Index]
Y_OLD=DAT_OLD.iloc[:,Index]

In [18]:
# define a rede neural 
model = MLPRegressor(solver='adam',activation='tanh',alpha=1e-5,max_iter=100,
                     hidden_layer_sizes=(5, 5),random_state=1)

In [19]:
# treina a rede neural
model.fit(x_train, y_train)

ValueError: ignored

In [ ]:
# usa a rede neural treina em calculos para treino e teste
y_calc_train=model.predict(x_train)
y_calc_test=model.predict(x_test)

In [ ]:
# transforma a saida da rede em dataframe 
y_calc_train=pd.DataFrame(y_calc_train)
y_calc_test=pd.DataFrame(y_calc_test)
col_names=list(y_train)
y_calc_train.columns = col_names
y_calc_test.columns = col_names

In [ ]:
# transforma dos dados calculados na forma original (nao normatizado)
y_calc_train=Original(y_calc_train,Y_OLD)
y_calc_test=Original(y_calc_test,Y_OLD)

In [ ]:
# recupera os dados originais 
test=[]
train=[]
train=Original(y_train,Y_OLD)
test=Original(y_test,Y_OLD)

In [ ]:
train

In [ ]:
# escolhe uma das resposta para fazer o grafico (PTS-treino)
resist_obs_train=[]
resist_calc_train=[]
resist_calc_train=y_calc_train['PTS'].copy()
resist_obs_train=train['PTS'].copy()

In [ ]:
# escolhe uma das resposta para fazer o grafico (PTS-teste)
resist_obs_test=[]
resist_calc_test=[]
resist_calc_test=y_calc_test['PTS'].copy()
resist_obs_test=test['PTS'].copy()

In [ ]:
# expressa os dois dados em figura
fig = plt.figure()
ax1 = fig.add_subplot(111)

ax1.scatter(resist_obs_test,resist_calc_test, s=10, c='b', marker="s", label='teste')
ax1.scatter(resist_obs_train,resist_calc_train, s=10, c='r', marker="o", label='treino')
plt.legend(loc='upper left')
plt.ylabel('PTS Calc')
plt.xlabel('PTS Obs')
plt.show()

In [ ]:
mse=mean_squared_error(resist_obs_test,resist_calc_test)
print("MSE teste=",mse)
R2=r2_score(resist_obs_test,resist_calc_test)
print("R^2 teste=",R2)

In [ ]:
mse=mean_squared_error(resist_obs_train,resist_calc_train)
print("MSE treino=",mse)
R2=r2_score(resist_obs_train,resist_calc_train)
print("R^2 treino=",R2)